[submodule "arduino_src/BasicLinearAlgebra"]
	path = arduino_src/BasicLinearAlgebra
	url = https://github.com/tomstewart89/BasicLinearAlgebra.git
[submodule "ros_ws/src/Localization/aruco_ros"]
	path = ros_ws/src/Localization/aruco_ros
	url = https://github.com/pal-robotics/aruco_ros
	branch = master
