<launch>
	<rosparam file="$(find sim_control)/config/control.yaml" command="load"/>
	
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/roboassistant" args="left_torque_controller right_torque_controller"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
	<remap from="/joint_states" to="/roboassistant/joint_states"/>
	</node>
</launch>
